<mat-card id=background>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card-title>Date</mat-card-title>
    <mat-card-title>Hours</mat-card-title>
  </div>
  <mat-card id="demo-card" *ngFor="let entry of currEntries; index as i;">
    <mat-card-content class="card-content">
      <input matInput [matDatepicker]="picker" [(ngModel)]="entry.date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <input matInput type="number" [(ngModel)]="entry.hoursWorked">
      <mat-icon id="close-icon" (click)="deleteEntry(i)">close</mat-icon>
    </mat-card-content>
  </mat-card>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-buton (click)="addEntry()">Add Entry</button>
    <button mat-buton (click)="runPayroll()">Run Payroll</button>
  </div>
</mat-card>