@model TimeEntryDetail
<div class="row mt-1">
    <input type="hidden" asp-for="Id" />
    <div class="col-sm-5">
        <input type="date" asp-for="Date" class="form-control" />
    </div>
    <div class="col-sm-5">
        <input type="number" asp-for="HoursWorked" class="form-control" step="0.01" min="0" max="24" />
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-light" title="Delete entry">x</button>
    </div>
</div>
