<div class="row">
    <div class="col-sm-5">
        <label>Date</label>
    </div>
    <div class="col-sm-5">
        <label>Hours Worked</label>
    </div>
    <div class="col-sm-2">
        <label>Actions</label>
    </div>
</div>
